* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: 1fr 10fr 1fr;
}

header {
  grid-area: header;
  background-color: rgb(33, 81, 183);
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  min-height: 70px;
}

menu {
  display: none;
}

main {
  grid-area: main;
}

.filtro {
  background-color: lightgray;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.desplegable {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding: 5px 10px;
  border: 1px solid darkgrey;
  border-radius: 3px 3px 3px 3px;
  height: 30px;
}

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px 0px;
  overflow-y: scroll;
  max-width: 100vw;
  max-height: calc(100vh - 310px);
}

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: 1px solid darkgrey;
  text-align: center;
  padding: 10px 0px;
  align-items: center;
  border-radius: 3px 3px 3px 3px;
}

.tarjeta img {
  width: 100%;
}

button {
  width: 70px;
  height: 30px;
  color: white;
  background-color: darkblue;
  border-radius: 5px 5px 5px 5px;
}

.paginacion {
  color: rgb(77, 68, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.botones {
  border: 1px solid darkgrey;
  padding: 10px 15px;
}

footer {
  grid-area: footer;
  background-color: darkblue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

/* COMPUTADOR */

@media (min-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    height: auto;
    width: auto;
    grid-template-areas:
      "header main"
      "footer main";

    grid-template-rows: 90% 10%;
    grid-template-columns: 10% 90%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0px;
  }
  menu {
    display: block;
    margin-top: 30px;
  }

  menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: 20px;
  }

  .hamburguesa {
    display: none;
  }

  .productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: auto;
    min-height: calc(100vh - 150px);
    padding: 0px;
    gap: 0px;
    overflow-y: scroll;
  }

  .tarjeta {
    margin-top: 20px;
    width: 24%;
  }

  .tarjeta img {
    max-width: 100%;
    max-height: 75%;
  }

  footer {
    text-align: center;
    justify-content: space-around;
    padding: 10px 0px;
  }
}
